<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
<meta http-equiv="Content-Security-Policy" content="default-src 'none'; script-src 'self'; style-src 'self' https://fonts.googleapis.com; img-src 'self'; font-src 'self' https://fonts.gstatic.com; connect-src 'self'; media-src 'self'; object-src 'self'; child-src 'self'; form-action 'none'; base-uri 'self'" />
<meta http-equiv="X-XSS-Protection"  content="1;mode=block" always>
<meta http-equiv="Referrer-Policy" content="no-referrer, strict-origin-when-cross-origin">

  {%- include head.html -%}

  <body>
    
    {% if page.mathjax %}
    <script>
      window.MathJax = {
        loader: { load: ['input/tex', 'output/chtml'] },
        tex: { inlineMath: [['$', '$'], ['\\(', '\\)']] },
        options: { enableMenu: false },
        chtml: { scale: 1, matchFontHeight: false, displayAlign: 'center' }
      };
    </script>
    <script type="text/javascript" async src="{{ '/assets/js/tex-chtml.js' | relative_url }}"></script>
    {% endif %}
    
    <div class="container">

      {%- include header.html -%}

    <main>
      {{ content }}
    </main>

    {%- include footer.html -%}

    </div>
  </body>
</html>
